<h2>
  <%= link_to '株の登録', new_stock_path, class: 'header-menu' %> 
  Stock Show
</h2>

<ul class="index-ul">
  <% @stocks.each do |stock| %>
    <li class="index-li">
      <%= stock.stock_code %>
      <%= link_to "#{stock.name}の詳細へ", stock_path(stock.id) %>
    </li>
  <% end %>
</ul>

<%= paginate(@stocks) %>