<h2>
<%= link_to "削除", stock_path(@stock.id), method: :delete, class: "header-menu delete-btn", data: { confirm: '削除してよろしいですか？' }%>
<%= link_to '内容訂正', edit_stock_path, class: 'header-menu' %> 

<%= @stock.stock_code %>
</h2>
<h1><%= @stock.name %></h1>

<div class="detailed-info">
  
  <div class="dividends">
    <h4>配当情報</h4>
  </div>
  
  <div class="gifts">
    <h4>優待情報</h4>
  </div>
</div>

