// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 22px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
}

h1 {
  // font-size: 22px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-left: 30px;
  // border-bottom: 1px solid #ddd;
}

.stock-name {
  color: tomato;
}

ul > li {
  margin-bottom: 5px;
}

.detailed-info {
  width: 800px;
  height: 50px;
  margin: 0 auto;
  background-color: white;
  // text-align: center;
  display: flex;
  .dividends {
    width: 400px;
    height: 700px;
    border: 1px solid #ddd;
    background-color: white;
    overflow: scroll;
    // background-color: lightgray;
  }
  .gifts {
    width: 400px;
    height: 700px;
    border: 1px solid #ddd;
    background-color: white;
    overflow: scroll;
  }
}

h4 {
  font-weight: normal;
  font-size: 18px;
  padding: 10px 0 10px 50px;
  // padding-bottom: 10px;
  // padding-left: 50px;
  background-color: yellowgreen;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}


ul {
  list-style: none;
  padding:0;
  margin:0;
}

.index-ul {
  list-style: none;
  padding:0;
  margin:0;
}

.index-li { 
  padding-left: 1em; 
  text-indent: -.7em;
}

.index-li:before {
  content: "♥ ";
  color: red;
}

.total-dividend {
  color: darkblue;
  font-weight: bold;
}

.dividend-info {
  font-size: 14px;
} 